@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-gray-900 text-white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
  }
} */
